@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    outline: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(250, 205, 205, 0.589);
}

header {
    background-image: url(../../images/Christmas.png);
    background-repeat: repeat;
    height: 550px;
}

.header-container {
    position: absolute;
    margin: 150px 0px 0px 100px;
    overflow: hidden;
}

h1 {
    color: rgb(167, 113, 113);
    font-size: 3rem;
    
}

header div p {
    color: rgba(167, 113, 113, 0.466);
    line-height: 18px;
} 

.highlight-p {
    color: rgba(165, 42, 42, 0.479);
    margin-bottom: 10px;
}
header > div > a > button {
    position: absolute;
    background-color: rgba(199, 114, 114, 0.726);
    color: white;
    font-size: 1em;
    padding: 5px;
    min-width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 7px;
    box-shadow: 0px 0px 0px 0px white;
    cursor: pointer;
}

header > div img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin: 40px 0px 0px 20px;
}

main {
    height: 580px;
    margin-top: 200px;
    background-color:  rgb(167, 113, 113);
}

hr {
    width: 100%;
}

.testemual-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.images {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.testemual {
    display: inline-flex;
}

ul {
    color: rgba(255, 255, 255, 0.562);
    font-size: 1.5em;
    list-style: none;
    align-self: center;
    margin-left: 10px;
}

svg {
    position: relative;
    top: 13px;
    height: 40px;
    width: 40px;
    margin-right: 5px;
    margin-left: 10px;
}

.image-about, .image-reservation {
    height: 350px;
    width: 100%;
    border-radius: 30px;
    margin-top: 25px;
}

.title-and-navagation-container > p, .title-and-button-reservation > p {
    color: rgba(255, 255, 255, 0.993);
    font-size: 1.5em;
    text-align: center;
    margin: 30px 0px 20px 0px;
} 

.title-and-navagation-container > a, .title-and-button-reservation > a {
    text-decoration: none;
}

 .about-button, .reservation-button {
    display: block;
    min-width: 110px;
    padding: 10px;
    font-size: 1em;
    background-color: rgba(129, 102, 102, 0.493);
    border: 1px solid rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.281);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 20px auto;
}  

.about-container, .reservation-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background-color:  rgb(119, 55, 55);
} 

.flex-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(202, 23, 32, 0.37);
    gap: 20px;
    margin-top: 200px;
    margin-left: 0px;
}

.flex-container > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flex-container > ul a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.flex-container hr {
    width: 0%;
}

.flex-container > ul a:hover {
    text-decoration: underline;
}

.flex-container > ul > li {
    font-size: 0.9em;
}

.creater {
    display: block;
    background-color:  rgba(167, 113, 113, 0.582);
    text-align: center;
    margin-top: 80px;
}

.creater > p {
    color: rgba(245, 222, 179, 0.925);
    margin-bottom: 5px;
}

.creater > p > strong {
    color: black;
}

.creater > hr {
    display: inline;
}

.creater > a {
    color: rgba(245, 222, 179, 0.733);
    text-decoration: none;
    margin: 10px;
    padding: 5px;
}