@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    outline: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    background-image: url(../../images/Christmas.png);
    background-repeat: no-repeat;
    height: 550px;
}

.header-container {
    position: fixed;
    margin: 150px 0px 0px 100px
}

h1 {
    color: rgb(167, 113, 113);
    font-size: 3rem;
    
}

header div p {
    color: rgba(167, 113, 113, 0.466);
    line-height: 18px;
} 

.highlight-p {
    color: rgba(165, 42, 42, 0.479);
    margin-bottom: 10px;
}
header > div > a > button {
    background-color: rgba(199, 114, 114, 0.726);
    color: white;
    font-size: 1em;
    padding: 5px;
    min-width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 7px;
    box-shadow: 0px 0px 0px 0px white;
    cursor: pointer;
}

header > div img {
    display: block;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    position: relative;
    margin: auto;
    top: -110px;
    left: 130px;
}

/* main {
    height: 310px;
}

.main-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

.images {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.primary-image, .secondary-image {
    display: inline-flex;
}

ul {
    margin: auto 35px;
    font-size: 1.5em;
    list-style: circle;
} */