@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    outline: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-image: url(../../images/Christmas.png);
    background-repeat: no-repeat;
    height: 550px;
}

.header-container {
    position: absolute;
    margin: 150px 0px 0px 100px;
    overflow: hidden;
}

h1 {
    color: rgb(167, 113, 113);
    font-size: 3rem;
    
}

header div p {
    color: rgba(167, 113, 113, 0.466);
    line-height: 18px;
} 

.highlight-p {
    color: rgba(165, 42, 42, 0.479);
    margin-bottom: 10px;
}
header > div > a > button {
    position: absolute;
    background-color: rgba(199, 114, 114, 0.726);
    color: white;
    font-size: 1em;
    padding: 5px;
    min-width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 7px;
    box-shadow: 0px 0px 0px 0px white;
    cursor: pointer;
}

header > div img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin: 40px 0px 0px 20px;
}

main {
    height: 580px;
    margin-top: 200px;
    background-color:  rgb(167, 113, 113);
}

hr {
    width: 100%;
}

.main-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
}

.images {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.testemual {
    display: inline-flex;
}

ul {
    color: rgba(255, 255, 255, 0.562);
    font-size: 1.5em;
    list-style: none;
    align-self: center;
}

svg {
    position: relative;
    top: 13px;
    height: 40px;
    width: 40px;
    margin-right: 5px;
    margin-left: 10px;
}