@charset "UTF-8";

/*-----TABLET-----*/
@media screen and (min-width: 740px) {
    header {
        background-size: auto;
        height: 500px;
    }

    h1 {
        font-size: 5.1em;
    }

    header > div {
        text-align: left;
        margin-left: 100px;
        margin-top: 140px;
    }

    header > div img {
        display: block;
        position: relative;
        height: 350px;
        width: 70%;
        /* width: 350px;
        height: 350px; */
        margin: -210px 0px 0px 350px;
        /* left: 300px; */
        border-radius: 40%;
    }

    main {
        height: 945px;
    }

    .images {
        height: 300px;
        width: 300px;
    }

    .about-hotel, .reservation {
        height: 100%;
        width: 100%;
    }

    .image-about, .image-reservation {
        width: 80%;
        margin-top: 20px;
    }

    .about-button, .reservation-button {
        margin-bottom: 20px;
    }
}
/*----Desktop and ahead----*/
@media screen and (min-width: 1075px) {
    body {
        background-color: rgba(245, 222, 179, 0.363);
    }
    
    .header-container {
        overflow: visible;
    }

    header > div img {
        height: 450px;
        width: 55%;
        top: -75px;
        left: 200px;
        border-radius: 30%;
    } 

    main {
        height: 800px;
        width: 100%;
    }

    .testemual-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 31px;
    }

    .testemual {
        display: block;
    }

    .images {
        height: 400px;
        width: 400px;
    }

    hr {
        height: 330px;
        width: 0%;
    }

    ul {
        color: rgba(255, 255, 255, 0.562);
        font-size: 1.8em;
        list-style: none;
        margin-left: 5px;
    }

    svg {
        position: relative;
        top: 15px;
        height: 56px;
        width: 56px;
        margin-right: 15px;
    }

    .about-container {
        flex-direction: row;
        flex: 1;
    }

    .about-container > p {
        display: block;
        position: relative;
        font-size: 2em;
        top: -50px;
        left: 20
        px;
        margin: auto;
    } 

    .title-and-navagation-container {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .title-and-navagation-container > p {
        margin: 0px 20px 10px 20px;
        font-size: 1.8em;
    } 

    .image-about {
        width: 50%;
        margin: 20px 0px 20px -20px;
    }

    .reservation-container {
        flex-direction: row;
    }

    .title-and-button-reservation {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-and-button-reservation > p {
        font-size: 2.8em;
        margin: 0px 20px 10px -20px;
    }

    .image-reservation {
        width: 50%;
        order: 1;
        margin: 20px 0px 20px 0px;
    }
    
    .about-button, .reservation-button {
        margin: 0px;
    }
}