@charset "UTF-8";

@media screen and (min-width: 740px) {
    body {
        background-color: aqua;
    }

    header {
        background-size: auto;
    }

    header > div {
        text-align: left;
        margin-left: 100px;
        margin-top: 140px;
    }

}

@media screen and (min-width: 960px) {
    body {
        background-color: beige;
    }
}